
@page {
    size: 140mm 100mm;
    margin: 5mm;
    padding: 0mm;
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
}

body {
    margin: 0mm;
    padding: 0mm;
}

h1 {
    margin: 0mm;
}

#ticket {
    background-color: beige;
    width: 120mm;
    height: 80mm;
    margin: 0mm;
    padding: 5mm;
}

#ticket-qrcode {
    width: 40mm;
    height: 40mm;
}
